@import "tailwindcss";

:root{
   --bluecolor : #5F35F5;
   --signcolor : #EA6C00;
   --smscolor : #4D4D4D;
   --SeconHeader : #03014C;
   --blackcustext : rgba(0, 0, 0, 0, 0.4);
   
}
@theme{
    --color-blue: var(--bluecolor);
    --color-sign: var(--signcolor);
    --color-sms: var(--smscolor);
    --color-Second: var(--SeconHeader);
    --color-blackcus: var(--blackcustext);
}
@layer components {
  
}

